/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


.navbar-default .navbar-nav > li > a
{
    color: red;
    font-weight: bold;
}
.navbar-brand.page-scroll
{
    color: #d94949;
    font-size: 30px;
    font-weight: bold;  
}
p.baseline
{
    margin-top: 50px;
    font-size:26px;
    font-family: 'proxima-nova-semibold';
    text-align: center;
    font-size: 26px;
    color: black;
}
.slogan
{
	margin-top: 150px;
    margin-bottom: 50px;
    font-family: 'proxima-nova-semibold';
    color: red;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}